*.Rproj
.Rproj.user
.vscode/*
.Rhistory
.DS_Store

test_build*.R
*.knit.*
results
tmp
src/Makevars
src/*.o
src/*.so
src/*.dll
src/symbols.rds
mewishart.Rcheck/*
mewishart.Rcheck/*
*.gcno

autom4te.cache
build
hyperpar.xml

*.tar.gz
*.log
*.status
